.target-list.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width:100%;
  position: relative;
  z-index: 1;
  @media (min-width: 992px) {
    flex-direction: row;
    justify-content: space-between;

  }
  .list-item {
    @include shadow();
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    margin:0 auto;
    @media (min-width: 992px) {
      margin:0;
    }
    &__image {
      img {

        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        display: block;
        width:100%;
      }
    }
    &__content {
      padding: 35px 35px 45px;
      background-color: $color-white;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
    }

  }
}
