.welcome {
   display: flex;
   flex-direction: column;
   @include shadow();
   margin: -70px auto 80px;
   border-radius: 15px;
   z-index: 2;
   background-color: $color-white;
   @media (min-width: 768px) {
   max-height: 320px;
   }
   &-content {
      padding: 50px 25px 40px;
      &__heading {
         font-size: 1rem;
         line-height: 1.5;
         margin-bottom: 20px;
      }
      &__text {
         line-height: 1.3;
      }
      @media (min-width: 768px) {
         width:50%;
      }
      @media (min-width: 992px) {
         padding: 50px 70px 40px;
      }
   }
   &-slider {
      @media (min-width: 768px) {
         width:50%;
      }
      img {
         display: block;
         object-fit: cover;
         width:100%;
         border-bottom-left-radius: 15px;
         border-bottom-right-radius: 15px;
         @media (min-width: 768px) {
            height: 320px;
            border-bottom-left-radius: 0;
            border-top-right-radius: 15px;
         }
      }

   }
   @media (min-width: 768px) {
      flex-direction: row;
   }
}
