.container-wrapper-event-info {
position: relative;
z-index: auto;
&::before {
  content: "";
  width: 600px;
  height: 500px;

  position: absolute;
  top: -230px;
  left: -170px;
  z-index: 0;
  background: url('./../../assets/img/pasta.svg') no-repeat;
  background-size: 70%;
}
}
.event-info {
  position: relative;
  &__question {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }
  &__list {
    padding: 0;
  }


}
